.navbar-brand {
  font-size: xx-large;
}


.news {
  margin-bottom: 1rem;
  color: rgb(8, 43, 78);
}

.news > img {
  width: 100%;
  height: auto;
  transition:0.5s opacity;
}

.desc {
  font-family: "lato", sans-serif;
  font-size: 16px;
  width:100%;
  background-color: #F8F9FA;
  color: black;
  padding: 10px;
  transition:0.5s font-weight;
  } 
  
.news > img:hover {
  opacity:60%
}

.news:hover .desc {
  font-weight: bold;
}
.mdb-color.darken-3 {
  background-color: #343a40 !important;
}
  .documentation footer {
    padding-left: 0;
}