.navbar-brand {
  font-size: xx-large;
}
body
{
	margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: rgb(244, 244, 244);
}
p {
  font-family: 'segoe ui', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #212529;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.post_body {
  padding-left: 69px;
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
  background: #FFFFFF;

}
.post_panel {
  height: 108px;
  z-index: 10;
  margin-top: 40px;
}

.images_box {
  background:url("./assets/img/marathon.jpg") no-repeat center center/cover;
  display:flex;
  justify-content: center;
  align-items: center;
  height:400px;
}

.image_text{
  font-size: 50px;
  color: #FFFFFF;
  font-weight: 600;  
}

.overlay {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background-color:rgba(0,0,0,0.4
);
  height:100%;
}

/* .row {margin-bottom: 30px;
} */


.col-log-9 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;}

    *, ::after, ::before {
      box-sizing: border-box;
  }

  div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.card{margin-top: 50px;}

.mdb-color.darken-3 {
  background-color: #343a40 !important;
}
  .documentation footer {
    padding-left: 0;
}

